{% extends 'app/base.html.twig' %}

{% block body %}
    <script>
        // This is a hack to make the user available in the JS code
        window.game = {
            user: JSON.parse({{ user|serialize('json', { groups: 'play:read' })|json_serialize|raw }}),
            initiator: {{ session.initiator.identifier|json_encode|raw }},
            urls: {{ {
                join: mercure('http://localhost:5001/join/' ~ identifier)|json_serialize,
                synchronization: mercure('http://localhost:5001/players/synchronize/' ~ identifier)|json_serialize,
                isReady: mercure('http://localhost:5001/players/is-ready/' ~ identifier)|json_serialize,
                disconnect: mercure('http://localhost:5001/players/disconnect/' ~ identifier)|json_serialize,
                play: mercure('http://localhost:5001/play/' ~ identifier)|json_serialize
            }|json_encode|raw }},
            type: "{{ session.type.value }}",
            name: "{{ session.game.slug }}",
            difficulty: "{{ session.difficulty is not null ? session.difficulty.value }}",
            duration: "{{ session.duration }}",
            identifier: '{{ session.identifier }}'
        }
    </script>

    <div {{ react_component('Games') }}>
    </div>
{% endblock %}

