{% set menu_content = [
    {
        'label': 'Home',
        'icon': 'solar:home-bold',
        'url': path('app_index'),
        'authentication_required': null,
    },
    {
        'label': 'Dashboard',
        'icon': 'material-symbols:dashboard',
        'url': path('app_profile'),
        'authentication_required': true,
    },
    {
        'label': 'Leaderboard',
        'icon': 'material-symbols:social-leaderboard',
        'url': '#',
        'authentication_required': null,
    },
    {
        'label': 'Games',
        'icon': 'emojione-v1:video-game',
        'url': path('app_games'),
        'authentication_required': null,
        'dropdown': [],
        "dropdown_attributes": {
            "data-targeted-as": "games-list-fetch:output"
        }
    },
    {
        'label': 'Sign In',
        'icon': 'simple-icons:simplelogin',
        'url': path('app_login'),
        'authentication_required': false,
    },
    {
        'label': 'Sign Up',
        'icon': 'mdi:register',
        'url': path('app_register'),
        'authentication_required': false,
    },
    {
        'label': 'Inbox',
        'icon': 'solar:mailbox-bold',
        'url': '#',
        'authentication_required': true,
        'badge': 3
    },
    {
        'label': 'Friends',
        'icon': 'fa-solid:user-friends',
        'url': '#',
        'authentication_required': true,
    },
    {
        'label': 'Sign Out',
        'icon': 'solar:logout-2-bold',
        'url': path('app_logout'),
        'authentication_required': true,
    },
    {
        'label': 'Contact',
        'icon': 'iconoir:send-mail-solid',
        'url': '#',
        'authentication_required': null,
    },
] %}

{% if app.user is not null %}
    {% set menu_content = menu_content|filter(value => value.authentication_required != false or value.authentication_required is null) %}
{% else %}
    {% set menu_content = menu_content|filter(value => value.authentication_required != true or value.authentication_required is null) %}
{% endif %}

<aside id="logo-sidebar" class="fixed top-0 text-white left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-black border-r-2 border-theme-secondary sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full px-3 pb-4 overflow-y-auto bg-black">
        <ul class="space-y-2 font-medium">
            {% for item in menu_content %}
                <li>
                    {% if item.dropdown is defined %}
                        <button type="button" class="flex items-center w-full p-2 text-base duration-75 rounded-lg group hover:bg-theme-primary" aria-controls="dropdown" data-collapse-toggle="dropdown-{{ item.label }}">
                            <twig:ux:icon
                                    name="{{ item.icon }}"
                                    class="flex-shrink-0 w-5 h-5 text-body transition duration-75 group-hover:text-theme-secondary"
                                    aria-hidden="true"
                            />
                            <a href="{{ item.url }}" class="ms-3 hover:underline hover:underline-offset-4">{{ item.label }}</a>
                            <twig:ux:icon
                                    name="codex:chevron-down"
                                    class="w-5 h-5 ml-auto"
                                    aria-hidden="true"
                            />
                        </button>
                        <ul class="pl-8 flex align-center justify-center flex-col" id="dropdown-{{ item.label }}" {{ item.dropdown_attributes is defined ? render_attributes(item.dropdown_attributes) }}>
                            {% for dropdown_item in item.dropdown %}
                                <li>
                                   <a href="{{ dropdown_item.url }}" class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-theme-primary">
                                        <twig:ux:icon
                                                  name="{{ dropdown_item.icon }}"
                                                  class="flex-shrink-0 w-5 h-5 text-body transition duration-75 group-hover:text-theme-secondary"
                                                  aria-hidden="true"
                                        />
                                        <span class="ms-3">{{ dropdown_item.label }}</span>
                                   </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <a href="{{ item.url }}" class="flex items-center p-2 rounded-lg hover:bg-theme-primary group" data-turbo="{{ item.label == 'Sign Out' ? "false" : "true" }}">
                            <twig:ux:icon
                                    name="{{ item.icon }}"
                                    class="flex-shrink-0 w-5 h-5 text-body transition duration-75 group-hover:text-theme-secondary"
                                    aria-hidden="true"
                            />
                            <span class="ms-3">{{ item.label }}</span>
                            {% if item.badge is defined %}
                                <span class="inline-flex items-center justify-center w-3 h-3 p-3 ml-auto text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">{{ item.badge }}</span>
                            {% endif %}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <html-fetch id="games-list-fetch" endpoint="{{ path('app_games_render') }}" fetch-initially></html-fetch>
    </div>
</aside>