<div {{ attributes }}>
    <div data-controller="forms--random-input">
        {{ form_start(form, { attr: {
            novalidate: true,
        } }) }}
        <div>
            <twig:Forms:RandomPasswordField>
                {{ form_widget(form.plainPassword.first, {
                    attr: { 'data-forms--random-input-target': 'password'}
                }) }}
            </twig:Forms:RandomPasswordField>
            {{ form_errors(form.plainPassword.first) }}
        </div>

        <div>
            {{ form_widget(form.plainPassword.second, {
                attr: { 'data-forms--random-input-target': 'password'}
            }) }}
            {{ form_errors(form.plainPassword.second) }}
        </div>

        <button type="submit">Reset password</button>
        {{ form_end(form) }}
    </div>
</div>



