<div {{ attributes }}>
    <div data-controller="forms--random-input">
        <twig:Turbo:Frame id="registration-form">
            {{ form_start(form, { attr: {
                novalidate: true,
                action: path('app_register'),
            } }) }}

            {{ form_errors(form) }}

            <div>
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
            </div>

            <div>
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>

            <div>
                <twig:Forms:RandomInput type="username">
                    {{ form_widget(form.username, { attr: {
                        'data-forms--random-input-target': 'username'
                    }}) }}
                </twig:Forms:RandomInput>
                {{ form_errors(form.username) }}
            </div>

            <div>
                <twig:Forms:RandomInput type="password">
                    {{ form_widget(form.plainPassword.first, {
                        attr: {
                            'data-forms--random-input-target': 'password'
                        }
                    }) }}
                </twig:Forms:RandomInput>
                {{ form_errors(form.plainPassword.first) }}
            </div>

            <div>
                {{ form_widget(form.plainPassword.second, { attr:{
                    'data-forms--random-input-target': 'password'
                }}) }}
                {{ form_errors(form.plainPassword.second) }}
            </div>

            <div>
                {{ form_widget(form.agreeTerms) }}
                {{ form_label(form.agreeTerms) }}
                {{ form_errors(form.agreeTerms) }}
            </div>

            <button data-turbo="false" type="submit">Register</button>

            {{ form_end(form) }}
        </twig:Turbo:Frame>
    </div>
</div>
