{% extends 'components/Forms/AutoValidatingForm.html.twig' %}

{% block form_body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div>
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </div>
    <div>
        <small class="block w-full text-center">
            Enter your email address, and we will send you a
            link to reset your password.
        </small>
    </div>

    <button type="submit">Submit</button>
{% endblock %}

{% block form %}
    {{ parent() }}

    <hr>

    <a href="{{ path('app_login') }}">
        Sign In
    </a>
{% endblock %}
