<div {{ attributes }}>
    <div>
        {{ form_start(form, { attr: {
            novalidate: true,
        } }) }}
        <div>
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </div>
        <div>
            <small class="block w-full text-center">
                Enter your email address, and we will send you a
                link to reset your password.
            </small>
        </div>

        <button type="submit">Submit</button>
        {{ form_end(form) }}
    </div>
</div>

