{% props id, title %}

<div id="{{ id }}-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full" data-modal-backdrop="static" style="background: rgba(0, 0, 0, 0.8)">
    <div class="relative p-4 w-full max-w-xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-black border border-theme-primary rounded-lg shadow-lg">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="title text-4xl">
                    {{ title }}
                </h3>
                <button type="button" class="end-2.5 text-theme-primary bg-transparent hover:bg-theme-primary hover:text-white rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="{{ id }}-modal">
                    <twig:ux:icon class="w-6 h-6" aria-hidden="true" name="bitcoin-icons:cross-filled" />
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5">
                <twig:Turbo:Frame class="{{ id }}" id="{{ id }}">
                </twig:Turbo:Frame>
            </div>
        </div>
    </div>
</div>