{% extends 'components/Forms/AutoValidatingForm.html.twig' %}

{% block form_body %}

    {{ form_errors(form) }}

    <div>
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}

        <div>
            <twig:Forms:RandomInput type="password">
                {{ form_widget(form.plainPassword.first, {
                    attr: {
                        'data-forms--random-input-target': 'password'
                    }
                }) }}
            </twig:Forms:RandomInput>
            {{ form_errors(form.plainPassword.first) }}
        </div>

        {{ form_errors(form.name) }}
    </div>

{% endblock %}

{% block attributes %}
    {{ parent() }}
    data-controller="forms--random-input"
{% endblock %}
